#education {
  background: $header_colour;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  .education {
    position: relative;
    margin-top: 10px;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .dates {
      border-radius: 0;
      margin-bottom: 15px;
      padding: 10px 45px;
      position: absolute;
      right: 0;
      top: 0;
      color: $header_colour;
      background: white;
      cursor: default !important;
      [itemprop="startDate"] {
        position: relative;
        margin-right: 15px;
        &::after {
            margin-left: 15px;
            color: $header_colour;
            content: "-"
        }
      }
    }
  }
}
