footer {
    padding: 30px 0;
    border-top: 1px solid $light_grey;

    p {
        margin: 0;
        font-size: 0.9rem;
        color: $text_colour;
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}
