#hero {
    background: url('../img/hero.jpg');
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
    @include background-size(cover);
    .container {
        padding-top: 25vh;
        img{
            display: block;
        }
        h1{
            margin-bottom: 15px;
            font-size: 72px;
            line-height: 90px;
            text-transform: uppercase;
            width: 100%;
        }
        p {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 3.5px;
            text-transform: uppercase;
            color: $gold
        }
    }
}

#hero h1 {
    font-size: 3rem;
    line-height: 4rem;
}

#hero p {
    font-size: 1rem;
    line-height: 1.2rem;
}

#menu {
    border-top: 1px solid $header_colour;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    .navbar-nav {
        .nav-link {
            padding: 25px 15px !important;
            font-weight: 700;
            font-family: 'Oswald', Arial, Helvetica, sans-serif;
            font-size: 1em;
            text-transform: uppercase;
            transition: color 0.3s ease;
            position: relative;
            
            &::before {
                content: '/';
                margin-right: 1px;
                color: $header_colour;
            }
            
            &:first-child::before {
                display: none;
            }
            
            &:hover {
                color: $gold;
            }
        }
    }
    
    // Hamburger menu styling
    .navbar-toggler {
        border: none;
        
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
    // Hide menu on mobile, show on md and up
    @media (max-width: 767.98px) {
        .navbar-collapse {
            &:not(.show) {
                display: none !important;
            }
        }
    }
    
    @media (min-width: 768px) {
        .navbar-toggler {
            display: none !important;
        }
    }
}

//Add these mixins from bootstrap

// @include media-breakpoint-up(sm) {
//     #hero h1 {
//         font-size: 3.5rem;
//         line-height: 4.5rem;
//     }
// }

// @include media-breakpoint-up(md) {
//     #hero h1 {
//         font-size: 4rem;
//         line-height: 5rem;
//     }
// }


// @include media-breakpoint-up(lg){
//     #hero h1 {
//         font-size: 4.5rem;
//         line-height: 5.5rem;
//     }
// }

