#hero {
    background: url('../img/hero.jpg');
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
    @include background-size(cover);
    .container {
        padding-top: 25vh;
        img{
            display: block;
        }
        h1{
            margin-bottom: 15px;
            font-size: 72px;
            line-height: 90px;
            text-transform: uppercase;
            width: 100%;
        }
        p {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 3.5px;
            text-transform: uppercase;
            color: $gold
        }
    }
}

