#personal_info {
    padding-top: 100px;
    h2{
        font-size: 3rem;
         border-bottom: 1px solid $light_grey;
    }
    p{
        border-bottom: 1px solid $light_grey;
        padding-bottom: 5px;
        a{
            text-decoration: none;
        }
    }
    #blurb p {
        border-bottom: none;
        line-height: 25px;
    }
}