body {
    font-family: 'PT Sans Narrow';
    color: $text_colour;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    color: $header_colour;
}