#work_experience {
    background: $light_grey;
    .experience {
        position: relative;
        margin-top: 10px;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}