// @import "vendor/bootstrap/bootstrap.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";
@import "_typography.scss";
@import "_elements.scss";
@import "_forms.scss";
@import "_header.scss";
@import "_personal.scss";
@import "_work.scss";
@import "_education.scss";
@import "_technical.scss";
@import "_portfolio.scss";
@import "_contact.scss";
@import "_footer.scss";


section {
    padding: 20px 0;
}